In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
import keras
from keras import models, layers
import tensorflow as tf

In [2]:
df = pd.read_csv('./stars.csv')
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

In [3]:
le_color = LabelEncoder()
df['Star color'] = le_color.fit_transform(df['Star color'])
le_class = LabelEncoder()
df['Spectral Class'] = le_class.fit_transform(df['Spectral Class'])
df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,10,5
1,3042,0.000500,0.1542,16.60,0,10,5
2,2600,0.000300,0.1020,18.70,0,10,5
3,2800,0.000200,0.1600,16.65,0,10,5
4,1939,0.000138,0.1030,20.06,0,10,5
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,0,6
236,30839,834042.000000,1194.0000,-10.63,5,0,6
237,8829,537493.000000,1423.0000,-10.73,5,11,0
238,9235,404940.000000,1112.0000,-11.23,5,11,0
239,37882,294903.000000,1783.0000,-7.80,5,0,6

In [4]:
x = df.drop(['Spectral Class'], axis=1)
y = df['Spectral Class']

In [5]:
y.value_counts()

5    111
1     46
6     40
0     19
2     17
4      6
3      1
Name: Spectral Class, dtype: int64

In [6]:
sc = StandardScaler()
x_scaled = sc.fit_transform(x)
# y_scaled = sc.fit_transform(y)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x_scaled, y, test_size=0.2)

In [8]:
model = models.Sequential([
    layers.Dense(128, input_shape=(6,)),
    layers.Activation('relu'),
    layers.Dense(128),
    layers.Activation('relu'),
    layers.Dense(7),
    layers.Activation('softmax')
])
model.compile(loss = tf.keras.losses.SparseCategoricalCrossentropy(), optimizer='adam', metrics=['accuracy'])
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               896

 activation (Activation)     (None, 128)               0

 dense_1 (Dense)             (None, 128)               16512

 activation_1 (Activation)   (None, 128)               0

 dense_2 (Dense)             (None, 7)                 903

 activation_2 (Activation)   (None, 7)                 0

=================================================================
Total params: 18,311
Trainable params: 18,311
Non-trainable params: 0
_________________________________________________________________

In [9]:
model.fit(x_train, y_train, epochs=32, batch_size=8, validation_data=(x_test, y_test))

Epoch 1/32
24/24 [==============================] - 0s 7ms/step - loss: 1.4496 - accuracy: 0.6823 - val_loss: 1.1685 - val_accuracy: 0.6667
Epoch 2/32
24/24 [==============================] - 0s 2ms/step - loss: 0.8017 - accuracy: 0.7865 - val_loss: 0.9654 - val_accuracy: 0.6875
Epoch 3/32
24/24 [==============================] - 0s 2ms/step - loss: 0.5691 - accuracy: 0.8281 - val_loss: 0.8586 - val_accuracy: 0.6875
Epoch 4/32
24/24 [==============================] - 0s 2ms/step - loss: 0.4693 - accuracy: 0.8385 - val_loss: 0.8131 - val_accuracy: 0.7292
Epoch 5/32
24/24 [==============================] - 0s 2ms/step - loss: 0.4067 - accuracy: 0.8594 - val_loss: 0.7709 - val_accuracy: 0.7292
Epoch 6/32
24/24 [==============================] - 0s 2ms/step - loss: 0.3683 - accuracy: 0.8750 - val_loss: 0.7360 - val_accuracy: 0.7708
Epoch 7/32
24/24 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8750 - val_loss: 0.6941 - val_accuracy: 0.7708
Epoch 8/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2999 - accuracy: 0.8750 - val_loss: 0.6555 - val_accuracy: 0.8125
Epoch 9/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2753 - accuracy: 0.9167 - val_loss: 0.6140 - val_accuracy: 0.8333
Epoch 10/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2573 - accuracy: 0.9062 - val_loss: 0.5822 - val_accuracy: 0.8333
Epoch 11/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2540 - accuracy: 0.9167 - val_loss: 0.5652 - val_accuracy: 0.8542
Epoch 12/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2291 - accuracy: 0.9271 - val_loss: 0.5708 - val_accuracy: 0.8125
Epoch 13/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2337 - accuracy: 0.9167 - val_loss: 0.5300 - val_accuracy: 0.8125
Epoch 14/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2211 - accuracy: 0.9271 - val_loss: 0.5785 - val_accuracy: 0.8333
Epoch 15/32
24/24 [==============================] - 0s 2ms/step - loss: 0.2187 - accuracy: 0.9115 - val_loss: 0.4904 - val_accuracy: 0.8333
Epoch 16/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1974 - accuracy: 0.9375 - val_loss: 0.5225 - val_accuracy: 0.8333
Epoch 17/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1870 - accuracy: 0.9323 - val_loss: 0.5088 - val_accuracy: 0.8542
Epoch 18/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1813 - accuracy: 0.9271 - val_loss: 0.4901 - val_accuracy: 0.8125
Epoch 19/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1831 - accuracy: 0.9375 - val_loss: 0.5395 - val_accuracy: 0.8333
Epoch 20/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1865 - accuracy: 0.9323 - val_loss: 0.4573 - val_accuracy: 0.8750
Epoch 21/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1749 - accuracy: 0.9219 - val_loss: 0.5096 - val_accuracy: 0.8542
Epoch 22/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1668 - accuracy: 0.9323 - val_loss: 0.4540 - val_accuracy: 0.8333
Epoch 23/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1621 - accuracy: 0.9323 - val_loss: 0.4757 - val_accuracy: 0.8333
Epoch 24/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1521 - accuracy: 0.9375 - val_loss: 0.4809 - val_accuracy: 0.8542
Epoch 25/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1523 - accuracy: 0.9375 - val_loss: 0.4529 - val_accuracy: 0.8750
Epoch 26/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1532 - accuracy: 0.9375 - val_loss: 0.4603 - val_accuracy: 0.8542
Epoch 27/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1428 - accuracy: 0.9427 - val_loss: 0.4853 - val_accuracy: 0.8542
Epoch 28/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1434 - accuracy: 0.9583 - val_loss: 0.4478 - val_accuracy: 0.8542
Epoch 29/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1372 - accuracy: 0.9531 - val_loss: 0.4535 - val_accuracy: 0.8750
Epoch 30/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1344 - accuracy: 0.9427 - val_loss: 0.4480 - val_accuracy: 0.8542
Epoch 31/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1460 - accuracy: 0.9427 - val_loss: 0.4334 - val_accuracy: 0.8958
Epoch 32/32
24/24 [==============================] - 0s 2ms/step - loss: 0.1276 - accuracy: 0.9531 - val_loss: 0.4752 - val_accuracy: 0.8542

In [10]:
score = model.evaluate(x_test, y_test)

2/2 [==============================] - 0s 3ms/step - loss: 0.4752 - accuracy: 0.8542